body{
    background-color: white;
}
.weatherapp{
    background-color: aliceblue;
   text-align: center;
   margin: auto;
   display: block;
   height: 200px;
   width: 450px;
   padding-top: 20px;
   
   margin-top: 80px;
    }
        